body {
    background-color: rgb(235, 140, 187);
}

.header1 {
    border: 50px outset rgb(0, 0, 0);
    background-color: lightblue;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} 

.header2 {
    border: 40px outset rgb(78, 40, 148);
    background-color: lightblue;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
} 

.headerminilinks {
    border: 26px outset rgb(78, 40, 148);
    background-color: lightblue;
    text-align: center;
    width: 300px;
    margin-left: 70%;
    margin-top: 5%;
} 

.headerminirechts {
    border: 26px outset rgb(78, 40, 148);
    background-color: lightblue;
    text-align: center;
    width: 300px;
    margin-left: 3%;
    margin-top: -4%;
} 

.logominilinks {
    border: 40px outset rgb(16, 158, 80);
    background-color: lightblue;
    text-align: center;
    width: 250px;
     height: 200px;
    margin-left: 4%;
    margin-top: 3%;
} 
.logominirechts {
    border: 40px outset rgb(16, 158, 80);
    background-color: lightblue;
    text-align: center;
    width: 250px;
     height: 200px;
    margin-left: 70%;
    margin-top: -20%;
}

.logo {
    border: 40px outset rgb(16, 158, 80);
    background-color: lightblue;
    text-align: center;
    width: 350px;
     height: 400px;
    margin-left: 33%;
    margin-top: -25%;
}

.headerminirechtsonder {
    border: 26px outset rgb(78, 40, 148);
    background-color: lightblue;
    text-align: center;
    width: 300px;
    margin-left: 70%;
    margin-top: -5%;
} 
.headerminilinksonder {
    border: 26px outset rgb(197, 67, 143);
    background-color: lightblue;
    text-align: center;
    width: 300px;
    margin-left: 3%;
    margin-top: -4%;
} 

.header3 {
    border: 20px outset rgb(78, 40, 148);
    background-color: lightblue;
    text-align: center;
    width: 1000px;
    margin-left: 10%;
    margin-top: 5%;
}

.bloklinks1 {
    border: 26px outset rgb(197, 67, 143);
    background-color: lightblue;
    text-align: center;
    width: 50px;
    height: 140px;
    margin-right: 90%;
    margin-top: 20%;
} 

.bloklinks2 {
    border: 26px outset rgb(197, 67, 143);
    background-color: lightblue;
    text-align: center;
    width: 50px;
    height: 140px;
    margin-left: 92%;
    margin-top: -15%;
} 

.blokrechts1 {
    border: 26px outset rgb(67, 178, 197);
    background-color: lightblue;
    text-align: center;
    width: 130px;
    height: 540px;
    margin-left: 72%;
    margin-top: -40%;
} 

.blokrechts2 {
    border: 26px outset rgb(77, 53, 143);
    background-color: lightblue;
    text-align: center;
    width: 130px;
    height: 540px;
    margin-left: 14%;
    margin-top: -45%;
} 

.foto {
    border: 20px outset rgb(16, 158, 80);
    background-color: lightblue;
    text-align: center;
    width: 450px;
     height: 500px;
    margin-left: 31%;
    margin-top: -30%;
}

.footer {
    border: 20px outset rgb(78, 40, 148);
    background-color: lightblue;
    text-align: center;
    width: 1100px;
    margin-left: 8%;
    margin-top: 5%;
}  

* {
    zoom: 150%;
}